.contact-section-container{
    background-color: #F5F5F5;
}
.contact-section-wrapper{
    padding: 40px 65px 90px 65px;
}
.contact-section-underwrapper h1{
    font-family: var(--glavni-font);
    color: var(--crno-zelenkasta);
    font-size: 42px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact-section-underwrapper p{
    font-family: var(--glavni-font);
    color: black;
    font-size: 18px;
    margin: 0px;
}
.map-and-form-wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.shop-section,.form-section{
    width: 50%;
}
.shop-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.shop-wrapper{
    background-color: white;
    padding: 16px 28px;
    border-radius: 6px;
}
.shop-wrapper h2{
    
    font-family: var(--glavni-font);
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}
.shop-wrapper ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin-top: 35px;

}
.shop-wrapper ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.shop-wrapper ul li img{
    width: 22px;
}
.shop-wrapper ul li p{
    font-size: 16px;
    font-family: var(--glavni-font);
    color: black;
    margin: 0px;
}
.shop-wrapper ul li p a{
    font-size: 16px;
    font-family: var(--glavni-font);
    color: black;
    margin: 0px;
}
.info-button-app{
    margin-top: 40px;
    background-color: #36641C;
    border-radius: 6px;
    text-align: center;
    max-width: 12rem;
    padding: 13px 50px;
    box-shadow: -5px 4px 11px 3px #e1e7de;
}
.info-button-app a{
    font-family: var(--glavni-font);
    color: white;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 15px;
}
/* MAP CSS START */
.map-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.map-section-wrapper{
    border-top: 2px solid #76BA51;
}
.leaflet-map-wrapper{
    padding-bottom: 60px;
}
#my-map{
    width:100%;
     height:30rem;
   
     border: 1px solid #4C922D;
}
.leaflet-bottom.leaflet-right{
    display: none;
}
.leaflet-popup-content{
    display: flex;
    flex-direction: column;
}
.leaflet-popup-content p{
    font-family: 'Lato';
    margin: -7px 0px -7px 0px!important;
    font-size: 13px;
}
.leaflet-popup-content p a{
    color: #3C582C;
    border: 1px solid #3C582C;
    border-radius: 4px;
    padding: 5px;
}
.leaflet-popup-content p:last-of-type {
    margin-top: 5px!important;
}
.leaflet-popup-content b{
    font-family: 'Lato';
    margin: 0px;
    font-size: 15px;
}
#scroll-overlay{
    display: none;
    position: absolute;
    font-family: 'Lato';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}
/* MAP CSS END */