.footer-wrapper{
    padding: 0px 65px 50px 65px;
}
.footer-under-wrapper{
    background: var(--text);
    padding: 90px 30px 15px 30px;
    border-radius: 12px;
}
.footer-nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 97px 0px 97px;
}
.copyright-logo-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-nav-title{
    font-family: var(--glavni-font);
    color: var(--bela);
    opacity: 40%;
    font-weight: 400;
    font-size: 28px;
    margin: 0px;
}
.footer-divider{
    background: linear-gradient(to bottom, #050910 0%, #FFFFFF 45%, #000000 100%);
    height: 150px;
    width: 2px;
}
.footer-nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 28px 0px 0px 0px;
}
.footer-nav ul li{
    padding-bottom: 16px;
}
.footer-nav ul li a{
    color: var(--bela);
    font-family: var(--glavni-font);
    font-size: 14px;
    font-weight: 400;
}
.footer-nav ul li p{
    color: var(--bela);
    font-family: var(--glavni-font);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
.footer-nav ul li a:hover{
    color: var(--zelena-primarna);
}
.social-ul{
    display: flex;
    gap: 16px;
}
.social-ul li img{
    width: 33px;
    
}
.logo-div-down img{
    max-width: 244px;
}
.logo-div-up{display: none;}
.copyright-div{
    display: flex;
    align-items: flex-end;
}
.copyright-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}
.footer-small-divider{
    background: linear-gradient(to bottom, #050910 0%, #FFFFFF 45%, #000000 100%);
    width: 2px;
    height: 30px;
}
.copyright-content p{
    font-family: var(--glavni-font);
    font-size: 12px;
    color: #B3B3B3;
    font-weight: 400;
    margin: 0px;
}
.copyright-content a{
    font-family: var(--glavni-font);
    font-size: 12px;
    color: #B3B3B3;
    font-weight: 400;
}
.copyright-content a:hover{
    color: var(--zelena-primarna);
}

@media screen and (max-width:768px){
    .logo-div-down{
        display: none;
    }
    .logo-div-up{
        display: flex;
        justify-content: center;
    }
    .logo-div-up img{
        width: 278px;
    }
    .footer-wrapper{
        padding: 0px 10px 10px 10px;
        border-radius: 12px 12px 12px 12px;
        
    }
    .footer-under-wrapper{
        padding: 0px;
    }
    .footer-nav-wrapper{
        padding: 25px 0px 0px 0px;
        flex-direction: column;
        gap: 40px;
    }
    .footer-nav{
        display: flex;
    flex-direction: column;
    align-items: center;
  
    }
    .footer-nav ul{
        padding: 12px 0px 0px 0px;
    }
    .footer-nav ul li{
        text-align: center;
    }
    .footer-divider{
    background: linear-gradient(to left, #050910 0%,#FFFFFF 45%,#000000 100%);
    height: 1px;
    width: 185px;
    margin: auto;
    }
   .copyright-logo-wrapper{
    background-color: #E6E6E6;
    justify-content: center;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 0px 20px 0px;
   }
   .copyright-content{
    flex-direction: column-reverse;
   }
   .footer-small-divider{
    display: none;
   }
   .copyright-content p,.copyright-content a{
    color:var(--crno-zelenkasta);
   }
}