@import url(./homepage.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./schedule-appointment-form.css);
:root{
    --bela:#FFFFFF;
    --svetlo-zelena:#61C555;
    --accent:#4C922D;
    --tamno-zelena:#336B15;
    --link-zelena:#36641C;
    --border-zelena:#5B9356;
    --zelena-primarna:#76BA51;
    --crno-zelenkasta:#0E130B;
    --text:#050910;
    --paragraf:#474747;
    --datum:#353535;
    --crna:#000000;

    --glavni-font:'Lato';

    

}

a{
	text-decoration: none;
 }
 body{
	margin: 0px!important;
 }

.container-14{
    max-width: 1440px;
    margin: auto;
}
.change-select{
    font-weight: 600!important;
    color: var(--crno-zelenkasta)!important;
    opacity: 90%;
}

@media screen and (max-width:2440px){
    .container-14{
            max-width:1920px;
        }
    
    }
@media screen and (max-width:1920px){
    .container-14{
            max-width:1600px;
            }
        
    }
    
@media screen and (max-width:1600px){
        .container-14{
            max-width:1440px;
            }
            
        }

