@import url(./homepage.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./schedule-appointment-form.css);
@import url(./vision.css);
@import url(./services.css);
@import url(./blog.css);
@import url(./latest-news-temp.css);
@import url(./contact.css);
@import url(./single-service.css);
@import url(./hero-banner-tem-part.css);
@import url(./single.css);
@import url(./mobile-side-banner.css);
@import url(./404.css);
@import url(./email-template.css);
@import url(./datenschutz.css);
@import url(./impressum.css);
:root{
    --bela:#FFFFFF;
    --svetlo-zelena:#61C555;
    --accent:#4C922D;
    --tamno-zelena:#336B15;
    --link-zelena:#36641C;
    --border-zelena:#5B9356;
    --zelena-primarna:#36641C;
    --crno-zelenkasta:#0E130B;
    --text:#050910;
    --paragraf:#474747;
    --datum:#353535;
    --crna:#000000;

    --glavni-font:'Lato';

    

}

/* BUTTON TYPE 1 CSS START */
.button-type-1{
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    transition: .3s;
    z-index: 1;
   }
   .button-type-1:before{
   content: '';
    width: 0;
    height: 495%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #0E130B;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   .button-type-1:hover:before{
       width: 105%;
   }
   .button-type-1:hover{
       color: white;
   }
   .button-type-1:active {
       transform: translate(5px,5px);
       transition-duration: .3s;
     }
   /* BUTTON TYPE 1 CSS END */
   
   /* BUTTON TYPE 2 CSS START */
.button-type-2{
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: .3s;
    z-index: 1;
   
   }
   .button-type-2:before{
    content: '';
    width: 0;
    height: 690%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   .button-type-2:hover:before{
       width: 105%;
   }
   .button-type-2:hover{
       color:#36641C;
       border-color: #36641C;
   }
   
   .button-type-2:hover a{
       color:#36641C ;
   }
   .button-type-2:active {
       transform: translate(5px,5px);
       transition-duration: .3s;
     }
     
   /* BUTTON TYPE 2 CSS END */


   /*  BUTTON TYPE 3 CSS START */
.button-type-3{
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: .3s;
    z-index: 1;
    border: 1px solid #36641C;
    
   
   }
   .button-type-3:before{
   content: '';
    width: 0;
    height: 660%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
    
   }
   .button-type-3:hover:before{
       width: 105%;
       height: 390px;

   }
   .button-type-3:hover{
       color: #36641c !important;
       
       
       
   }
   .button-type-3:hover .arrow-svg path{
    fill: #36641C;
    
   }
   .button-type-3:hover .clock-svg path{
    stroke:#36641C ;
    
   }
   
   .button-type-3:hover a{
       color:#36641C ;
   }
   .button-type-3:active {
       transform: translate(5px,5px);
       transition-duration: .3s;
     }
/* BUTTON TYPE 3 CSS END */


/* JUST CLICK STYLE START*/
.just-click:active{
    transform: translate(5px,5px);
    transition-duration: .3s;
}
a{
	text-decoration: none;
 }
 body{
	margin: 0px!important;
 }

.container-14{
    max-width: 1440px;
    margin: auto;
}
.change-select{
    font-weight: 600!important;
    color: var(--crno-zelenkasta)!important;
    opacity: 90%;
}

@media screen and (max-width:2440px){
    .container-14{
            max-width:1920px;
        }
    
    }
@media screen and (max-width:1920px){
    .container-14{
            max-width:1600px;
            }
        
    }
    
@media screen and (max-width:1600px){
        .container-14{
            max-width:1440px;
            }
            
        }
@media screen and (max-width:768px){
    .container-14{
    width: 100%;
        }
}

